<%= form_for @filling do |f| %>
  <div class="field">
    <%= f.label :amount %><br />
    <%= f.text_field :amount %>
  </div>
  <div class="field">
    <%= f.label :price %><br />
    <%= f.text_field :price %>
  </div>
  <div class="field">
    <%= f.label :odometer %><br />
    <%= f.text_area :odometer %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>

