<p id="notice"><%= notice %></p>

<p>
  <b>Brand:</b>
  <%= @car.brand %>
</p>

<p>
  <b>Model:</b>
  <%= @car.model %>
</p>

<p>
  <b>Description:</b>
  <%= @car.description %>
</p>


<h1>Listing fillings</h1>

<%= render :partial => 'fillings/fillings', :locals => {:fillings => @car.fillings} %>




<%= link_to 'Edit', edit_car_path(@car) %> |
<%= link_to 'Back', cars_path %> |
<%= link_to 'new filling', new_car_filling_path(@car) %>
